.page-item-52 a, .page-item-54 a {
	color: white;
}
.page-item-52 a:hover, .page-item-54 a:hover {
	color: white;
	background: none;
}

ul.dropdown-content {
	background-color: $org;	

}
.dropdown-content li > a, .dropdown-content li > span {
	color: white;	
}

.dropdown-content li:hover {
	background: lighten($org, 10%);	
		box-shadow: 0px 0px 0px 0px;
}

ul.dropdown-content{
	min-width: 300px;
}
.dropdown-content {

}


.btn {
	background: lighten($org, 5%);
}

.btn:hover {
	background: $org;	
}
a.about-link:hover {
	background: none;
} 


.page-item-52, .page-item-54 {
background-color: transparent;
box-shadow: none;



}

.page-item-52:hover, .page-item-54:hover {
	background-color: $org;
}


#download-button {
	
	border-radius: 10px;
	background: darken($org, 20%);
	opacity: 0.5;
}

#download-button:hover {
	background-color:$org;
	opacity: 1;
}

.pagination {
  background: $org;
  word-spacing: 1em;
  font-size: 1.2em;
  color: $blue;
}

.wpcf7-submit {
	@extend .btn;
}

.mc-embedded-subscribe {
	float: right;
}

.service-page-link {
	font-size: 1.5em;
}

strong {
	font-size: 1.5em;
}

.service-button,
#contact-button {
	width:380px;
	border-radius: 10px;;
	background-color: $org;
	color: $lt-neutral;
	padding-top: 5px;
	height: 70px;
	display: table-cell;
}
.service-button:hover,
#contact-button:hover {
	background: darken($org, 5%);
	color: white;
}

.call-btn {
    height: 70px;
    width: 260px;
    padding-top: 6px;
    	font-size: 1.4em;
}


#contact-button {
	display: block;
	width: 320px
}

.contact-info a {
	display: block;
	border-radius: 10px;;
	background: $org;
	font-size: 2em;
	text-align: center;
	color: $lt-neutral;
	margin: 10px;
	height: 70px;
	padding-top: 6px;
}

.contact-info a:hover {
	background: darken($org, 5%);
	color: white;
}


