.front-area {
	margin-top: 5%;
  width: 100%;
  	margin-bottom: 10%; 

  }

 .front-copy-title {
 	padding-top: 5%;
 }

.front-pg {
  width: 80%; }

.service-area {
	margin-top: 5%;
}

.page-id-14 {
	background: none;
}

input#s {
	background: white;
}
.input-field .row .col.s6{
	width: 300px;
}

.results {
	margin-top: 5%;
}