.front-area {
	margin-top: 5%;
  width: 100%;
  margin-bottom: 10%; 
  background-color: darken($lt-yw, 3%);
  }

.front-copy-title{
  padding: 20px;
  margin-top: 4%;
  margin-bottom: 2%;
}

.front-copy {
  margin-top: 2%;
}

.front-pg {
  width: 80%; }

.service-area {

	margin-top: 5%;
}

input#s {
	background: white;
}
.input-field .row .col.s6{
	width: 300px;
}

.results {
	margin-top: 5%;
}



.service-container {
  border: solid $m-grn 4px;
  background: lighten($lt-yw, 3%);
  border-radius: 10px;

}

article.post {
  margin: 50px 0;
}

dl.gallery-item {
  width: 100%;
}

.action-img img {
  width: 25%;
  height: auto;
  padding: 10px;

  
}

.action-title{
  background-color: $m-grn;

  height: auto;
}

img.hero-absolute {
  filter: brightness(0.01);
}
