.front-area {
  width: 100%;
  padding: 10% 0; 
  background-color: darken($lt-yw, 3%);
  }

.front-copy-title{
  padding-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 2%;
}

.front-copy {
  background: lighten($lt-yw, 5%);
  margin-top: 5%;
  padding-bottom: 100px;
}

.front-copy-bottom {
  background: $m-grn;
  padding: 10% 0; 
}

.row.front-copy-bottom, .row.front-area, .row.front-copy  {
  margin-bottom: 0;
}

.front-pg {
  width: 80%; }

.service-area {

	margin-top: 5%;
}

input#s {
	background: white;
}
.input-field .row .col.s6{
	width: 300px;
}

.results {
	margin-top: 5%;
}

.service-container {
  background: lighten($lt-yw, 3%);
  border-radius: 10px;
-webkit-box-shadow: 0px 8px 37px -10px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 8px 37px -10px rgba(0,0,0,0.75);
box-shadow: 0px 8px 37px -10px rgba(0,0,0,0.75);
}

article.post {
  margin: 50px 0;
}

dl.gallery-item {
  width: 100%;
}

.action-img img {
  width: 25%;
  height: auto;
  padding: 10px;

  
}

img.hero-absolute {
  filter: brightness(0.01);
}

img.attachment-banner-image {
  margin: 0 auto;
  width: 100%;
}

img.attachment-small-thumbnail {
  margin-top: 30px;
  width: 100%;
  height: auto;
}
