nav ul a,
nav .brand-logo {
  max-width: 200px;
   margin: 10px 20px 0 20px;

}


.nav-wrapper {
	  background-color: darken($blue, 46%);
}
.nav-color {
	  background-color: #202020;
}
nav ul a, nav a{
	color: $lt-neutral;
}

i {
	color: $lt-neutral;
}

#mobile-demo{
	background-color: $lt-neutral;
}

