html {
	color: $blue;
}

h1.header {
	margin-top: 10px;
}
h4.header {
	margin-top: 15px;
	margin-bottom: 70px;
}

h1,
h2,
h3,
h4,
h5,
h6
{
	font-family: 'oswald', sans-serif;
}

p {
  font-size: 1.2em;
  line-height: 2rem;
}


.title-copy {
	margin-top: 10%;
}

h1.header, h4.header, hr{
	color: lighten($lt-yw, 5%);
}



p, .service-widget a, .front-copy h2, article.post h2 a, .action-title h2 a  {
	color: $blue;
}

.post-info {
	color: $m-grn;
	margin-bottom: -20px;
}

a, .post-info a {
  color: $lt-grn;
}

small {
	font-size: 85%;
}

.contact-links {
	margin-top: 50px;
}
