a.service-icon__hover img{ 
	transition: all .2s ease-in-out; 
	opacity: 0.6;
}

a.service-icon__hover:hover > img { 
	transform: scale(1.05); 
	opacity: 1;

}

.widgettitle, .widget ul li a{
  color: $lt-yw;
}

li.widget{
list-style: none
}

.widget-item {
	padding: 10px;
	background-color: $lt-grn; 
	color: $blue;
}
.widget-item a {
	display:inline-block;
	padding: 12px;
	color: $blue;
}

.action-widget {
	background-color: $m-grn;
}

.newsletter {
	height: 50%;
	background: lighten($org, 10%);
}