/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
/* #f3ffe2 */
body {
  background-color: #f3ffe2; }

.logo-main {
  margin-top: 100px; }

.button-collapse {
  color: white; }

.row .col {
  padding: 0.75rem; }

.hero-absolute {
  position: absolute;
  z-index: -100;
  min-width: 100%; }

.front-copy {
  margin-top: 10%; }

.front-area {
  width: 100%; }

.front-pg {
  width: 80%; }

.splash {
  opacity: 0.65;
  width: 100%;
  height: auto; }

.appear {
  animation-name: appear; }

nav ul a,
nav .brand-logo {
  max-width: 200px;
  margin: 10px 20px 0 20px; }

.nav-wrapper {
  background-color: #132a3d; }

.nav-color {
  background-color: #202020; }

nav ul a, nav a {
  color: #f3ffe2; }

i {
  color: #f3ffe2; }

#mobile-demo {
  background-color: #f3ffe2; }

h1.header, h4.header {
  color: #f9fff1; }

.front-area {
  margin-top: 5%;
  width: 100%;
  margin-bottom: 10%;
  background-color: #f3ffe2; }

.front-copy-title {
  padding: 20px; }

.front-copy {
  background-color: #93d7f1; }

.front-pg {
  width: 80%; }

.service-area {
  margin-top: 5%; }

input#s {
  background: white; }

.input-field .row .col.s6 {
  width: 300px; }

.results {
  margin-top: 5%; }

.service-container {
  border: solid #69a2d1 3px;
  border-radius: 10px;
  background-color: #c0e8f7; }

article.post {
  margin: 50px 0; }

dl.gallery-item {
  width: 100%; }

.action-img img {
  width: 25%;
  height: auto;
  padding: 10px; }

.action-title {
  background-color: #f5e596;
  height: auto; }

footer.page-footer {
  background: #26557b; }

footer.widget-title {
  color: #f3ffe2; }

.widgettitle {
  color: #f3ffe2; }

.widget ul li a {
  color: #f3ffe2; }

li.widget {
  list-style: none; }

.widget-item {
  padding: 10px;
  background-color: #326fa2;
  color: #f3ffe2; }

.widget-item a {
  color: #f3ffe2; }

.action-widget {
  background-color: #39b6e5; }

.newsletter {
  height: 50%;
  background: #de7630; }

html {
  color: #2e6797; }

h1.header {
  margin-top: 10px; }

h4.header {
  margin-top: 15px;
  margin-bottom: 70px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather', sans-serif; }

p {
  font-size: 1.2em;
  line-height: 2rem; }

.title-copy {
  margin-top: 10%; }

a {
  color: #a4c6e3; }

.service-widget a {
  color: #f3ffe2; }

.front-copy-title {
  background-color: #4fbee8; }

.front-copy h2 {
  color: #2e6797; }

article.post h2 a {
  color: #2e6797; }

.post-info a {
  color: #a4c6e3; }

.action-title h2 a {
  color: #2e6797; }

.page-item-52 a, .page-item-54 a {
  color: white; }

.page-item-52 a:hover, .page-item-54 a:hover {
  color: white;
  background: none; }

ul.dropdown-content {
  background-color: #aadff4; }

ul.dropdown-content {
  min-width: 300px; }

.btn, .wpcf7-submit {
  background: #e9a272; }

a.about-link:hover {
  background: none; }

.page-item-52, .page-item-54 {
  background-color: transparent;
  box-shadow: none; }

.page-item-52:hover, .page-item-54:hover {
  background-color: #e5935c; }

#download-button {
  border: 4px solid #E74C3C;
  background-color: transparent; }

.pagination {
  background: #93d7f1;
  word-spacing: 1em;
  font-size: 1.2em;
  color: #69a2d1; }

.mc-embedded-subscribe {
  float: right; }

@media only screen and (max-width: 320px) {
  .front-copy {
    margin-top: -10%; } }

@media only screen and (max-width: 768px) {
  #crop {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden; }
  .hero-absolute {
    position: absolute;
    z-index: -100;
    min-width: 220%;
    min-height: auto;
    transform: translate(-25%); }
  .service-widget {
    margin-top: 5%; }
  #index-banner .section {
    top: 0; }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.4em; }
  h1 {
    font-size: 2.5rem; }
  h2 {
    font-size: 2.0rem; }
  h3 {
    font-size: 1.75rem; }
  h4 {
    font-size: 1.5rem; }
  h5 {
    font-size: 1rem; } }

@media only screen and (min-width: 992px) {
  #crop {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden; }
  .hero-absolute {
    position: absolute;
    z-index: -100;
    min-width: 150%;
    min-height: auto; } }

@keyframes appear {
  0% {
    transform: translateY(-20px);
    opacity: 0; }
  100% {
    transform: translateY(0px);
    opacity: 1; } }

.icon-block {
  padding: 0 15px; }

.icon-block .material-icons {
  font-size: inherit; }

.hiding {
  visibility: hidden; }

.showing {
  visibility: visible; }

/* Animations */
@keyframes title {
  from {
    opacity: 0;
    transform: scale(0.8); }
  to {
    opacity: 1;
    transform: scale(1); } }

.title-fade {
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  animation-name: title;
  animation-duration: 1s; }

@keyframes titleCopy {
  from {
    opacity: 0;
    transform: translate(0px, 50px); }
  to {
    opacity: 1;
    transform: translate(0px, 0px); } }

.title-fade2 {
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  animation-name: titleCopy;
  animation-duration: 1s; }

@keyframes widgetSlide {
  from {
    opacity: 0;
    transform: translate(-75px, 0px); }
  to {
    opacity: 0.65;
    transform: translate(0px, 0px); } }

.title-fade3 {
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  animation-name: widgetSlide;
  animation-duration: 1s; }

@keyframes heroSlide {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.hero-absolute {
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  animation-name: heroSlide;
  animation-duration: 2s; }

.magictime {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s; }

hr {
  background-color: white !important;
  height: 2px !important;
  max-width: 200px;
  color: white; }
