/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
/* #f3ffe2 */
body {
  background-color: #f7f9cb; }

.logo-main {
  margin-top: 100px; }

.button-collapse {
  color: white; }

.row .col {
  padding: 0.75rem; }

.hero-absolute {
  position: absolute;
  z-index: -100;
  min-width: 100%; }

.front-area {
  width: 100%; }

.front-pg {
  width: 80%; }

.splash {
  opacity: 0.65;
  width: 100%;
  height: auto; }

.appear {
  animation-name: appear; }

nav ul a,
nav .brand-logo {
  max-width: 200px;
  margin: 10px 20px 0 20px; }

.logo-header {
  padding-top: 9px;
  padding-left: 10px; }

.nav-wrapper {
  background: #52907f; }

#menu-primary-menu-links.menu {
  margin-bottom: -7px; }

.nav-color {
  background-color: #202020; }

nav ul a {
  font-size: 1.3em;
  color: #f3ffe2; }

nav ul a:hover {
  background-color: transparent; }

i {
  color: #f3ffe2; }

#mobile-demo {
  background-color: #e4c06b; }

ul.sub-menu li a {
  color: #f7f9cb; }

ul.sub-menu li:hover {
  background: #e4c06b; }

ul.sub-menu {
  position: absolute;
  overflow: hidden;
  height: 0;
  top: 100%; }

.menu ul {
  -webkit-box-shadow: 0px 10px 45px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 45px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 45px -4px rgba(0, 0, 0, 0.75);
  position: absolute; }

.menu ul li {
  clear: left;
  width: 260px;
  background-color: #6aab99;
  border: 1px solid #498070; }

.menu li:hover > ul {
  transition: 300ms ease-in;
  display: block;
  color: #e4c06b;
  height: 231px; }

.menu #menu-item-20:hover > ul {
  height: 154px; }

h1.header, h4.header {
  color: #f9fff1; }

.front-area {
  margin-top: 5%;
  width: 100%;
  margin-bottom: 10%;
  background-color: #f5f7bd; }

.front-copy-title {
  padding: 20px;
  margin-top: 4%;
  margin-bottom: 2%; }

.front-copy {
  margin-top: 2%; }

.front-pg {
  width: 80%; }

.service-area {
  margin-top: 5%; }

input#s {
  background: white; }

.input-field .row .col.s6 {
  width: 300px; }

.results {
  margin-top: 5%; }

.service-container {
  border: solid #8bbdaf 4px;
  background: #f9fbd9;
  border-radius: 10px; }

article.post {
  margin: 50px 0; }

dl.gallery-item {
  width: 100%; }

.action-img img {
  width: 25%;
  height: auto;
  padding: 10px; }

.action-title {
  background-color: #8bbdaf;
  height: auto; }

img.hero-absolute {
  filter: brightness(0.01); }

footer.page-footer {
  background: #52907f; }

footer.widget-title {
  color: #f3ffe2; }

footer p {
  color: #f7f9cb; }

a.service-icon__hover img {
  transition: all .2s ease-in-out;
  opacity: 0.6; }

a.service-icon__hover:hover > img {
  transform: scale(1.05);
  opacity: 1; }

.widgettitle, .widget ul li a {
  color: #f7f9cb; }

li.widget {
  list-style: none; }

.widget-item {
  padding: 10px;
  background-color: #b0d1b4;
  color: #515d71; }

.widget-item a {
  display: inline-block;
  padding: 12px;
  color: #515d71; }

.action-widget {
  background-color: #8bbdaf; }

.newsletter {
  height: 50%;
  background: #ecd296; }

html {
  color: #515d71; }

h1.header {
  margin-top: 10px; }

h4.header {
  margin-top: 15px;
  margin-bottom: 70px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather', sans-serif; }

p {
  font-size: 1.2em;
  line-height: 2rem; }

.title-copy {
  margin-top: 10%; }

h1.header, h4.header, hr {
  color: #fbfce2; }

p, .service-widget a, .front-copy h2, article.post h2 a, .action-title h2 a {
  color: #515d71; }

.post-info {
  color: #8bbdaf; }

a, .post-info a {
  color: #b0d1b4; }

small {
  font-size: 85%; }

.contact-links {
  margin-top: 50px; }

.page-item-52 a, .page-item-54 a {
  color: white; }

.page-item-52 a:hover, .page-item-54 a:hover {
  color: white;
  background: none; }

ul.dropdown-content {
  background-color: #e4c06b; }

.dropdown-content li > a, .dropdown-content li > span {
  color: white; }

.dropdown-content li:hover {
  background: #ecd296;
  box-shadow: 0px 0px 0px 0px; }

ul.dropdown-content {
  min-width: 300px; }

.btn, .wpcf7-submit {
  background: #e8c981; }

.btn:hover, .wpcf7-submit:hover {
  background: #e4c06b; }

a.about-link:hover {
  background: none; }

.page-item-52, .page-item-54 {
  background-color: transparent;
  box-shadow: none; }

.page-item-52:hover, .page-item-54:hover {
  background-color: #e4c06b; }

#download-button {
  border-radius: 10px;
  background: #c59524;
  opacity: 0.5; }

#download-button:hover {
  background-color: #e4c06b;
  opacity: 1; }

.pagination {
  background: #e4c06b;
  word-spacing: 1em;
  font-size: 1.2em;
  color: #515d71; }

.mc-embedded-subscribe {
  float: right; }

.service-page-link {
  font-size: 1.5em; }

strong {
  font-size: 1.5em; }

.service-button,
#contact-button {
  width: 380px;
  border-radius: 10px;
  background-color: #e4c06b;
  color: #f3ffe2;
  padding-top: 5px;
  height: 70px;
  display: table-cell; }

.service-button:hover,
#contact-button:hover {
  background: #e0b755;
  color: white; }

.call-btn {
  height: 70px;
  width: 260px;
  padding-top: 6px;
  font-size: 1.4em; }

#contact-button {
  display: block;
  width: 320px; }

.contact-info a {
  display: block;
  border-radius: 10px;
  background: #e4c06b;
  font-size: 2em;
  text-align: center;
  color: #f3ffe2;
  margin: 10px;
  height: 70px;
  padding-top: 6px; }

.contact-info a:hover {
  background: #e0b755;
  color: white; }

@media only screen and (max-width: 320px) {
  .front-copy {
    margin-top: -10%; }
  ul.sub-menu {
    margin-top: 100px; }
  #mobile-demo ul.sub-menu {
    display: block;
    overflow: visible;
    top: -100px;
    background-color: orange; } }

@media only screen and (max-width: 768px) {
  #crop {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden; }
  .hero-absolute {
    position: absolute;
    z-index: -100;
    min-width: 220%;
    min-height: auto;
    transform: translate(-25%); }
  .service-widget {
    margin-top: 5%; }
  #index-banner .section {
    top: 0; }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.4em; }
  h1 {
    font-size: 2.5rem; }
  h2 {
    font-size: 2.0rem; }
  h3 {
    font-size: 1.75rem; }
  h4 {
    font-size: 1.5rem; }
  h5 {
    font-size: 1rem; } }

@media only screen and (min-width: 992px) {
  #crop {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden; }
  .hero-absolute {
    position: absolute;
    z-index: -100;
    min-height: auto; } }

@keyframes appear {
  0% {
    transform: translateY(-20px);
    opacity: 0; }
  100% {
    transform: translateY(0px);
    opacity: 1; } }

.icon-block {
  padding: 0 15px; }

.icon-block .material-icons {
  font-size: inherit; }

.hiding {
  visibility: hidden; }

.showing {
  visibility: visible; }

/* Animations */
@keyframes title {
  from {
    opacity: 0;
    transform: scale(0.8); }
  to {
    opacity: 1;
    transform: scale(1); } }

.title-fade {
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  animation-name: title;
  animation-duration: 1s; }

@keyframes titleCopy {
  from {
    opacity: 0;
    transform: translate(0px, 50px); }
  to {
    opacity: 1;
    transform: translate(0px, 0px); } }

.title-fade2 {
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  animation-name: titleCopy;
  animation-duration: 1s; }

@keyframes widgetSlide {
  from {
    opacity: 0;
    transform: translate(-75px, 0px); }
  to {
    opacity: 0.65;
    transform: translate(0px, 0px); } }

.title-fade3 {
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  animation-name: widgetSlide;
  animation-duration: 1s; }

@keyframes heroSlide {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.hero-absolute {
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  animation-name: heroSlide;
  animation-duration: 2s; }

.magictime {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s; }

hr {
  background-color: white !important;
  height: 2px !important;
  max-width: 200px;
  color: white; }
