/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
$navy: #2C3E50;
$reddish: #E74C3C;


$d-blue: #225378;
$teal: #1695A3;

$blue: #69a2d1;
$surf: #93d7f1;
/* #f3ffe2 */
$lt-neutral: #f3ffe2;
$orange: #e5935c;
$ltgrey:  #dee0dd;
$grey:   #ada3a3;


body {
  background-color: $lt-neutral;
}

.logo-main {
  margin-top: 100px;
}
p {
  line-height: 2rem;
}
.button-collapse {
   color: white;
}

.row .col {
 
    padding: 0.75rem;
}

.hero-absolute {
  position: absolute;
  z-index: -100;
  min-width: 100%;
}

.front-copy {
  margin-top: 10%;
}

.front-area {
  width: 100%;
}
.front-pg {
width: 80%;
}
.splash {
  opacity: 0.65;
  width: 100%;
  height: auto;
}

.appear {
  animation-name: appear;
}




@import "partial/nav";
@import "partial/header";

@import "partial/layout";
@import "partial/footer";
@import "partial/widget";
@import "partial/typography";
@import "partial/buttons";
@import "partial/media-queries";

@keyframes appear {
    0% {
      transform: translateY(-20px);
    
     
        opacity: 0;
    }
    100% {
      transform: translateY(0px);
     
      
        opacity: 1;
    }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}




.hiding {
  visibility: hidden;
}

.showing {
  visibility: visible;
}

/* Animations */

@keyframes title {
    from {
      opacity: 0;
      transform: scale(0.8);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
}

.title-fade {
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    animation-name: title;
    animation-duration: 1s;
}

@keyframes titleCopy {
    from {
      opacity: 0;
      transform: translate(0px, 50px);

    }
    to {
      opacity: 1;
        transform: translate(0px, 0px);
    }
}

.title-fade2 {
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    animation-name: titleCopy;
    animation-duration: 1s;
}


@keyframes widgetSlide {
    from {
      opacity: 0;
      transform: translate(-75px, 0px);

    }
    to {
      opacity: 0.65;
        transform: translate(0px, 0px);
    }
}

.title-fade3 {
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    animation-name: widgetSlide;
    animation-duration: 1s;
}

@keyframes heroSlide {
    from {
      opacity: 0;


    }
    to {
      opacity: 1;
 
    }
}

.hero-absolute{
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    animation-name:  heroSlide;
    animation-duration: 2s;
}


.magictime {
-webkit-animation-duration: 2s;
-moz-animation-duration: 2s;
-o-animation-duration: 2s;
animation-duration: 2s;
}

hr {
    background-color: white !important;
    
    height: 2px !important;
  max-width: 200px;
  color: white;

}
